body {
    background: #4B4B4C;
    color: #42877a;
    font-family: 'Roboto', sans-serif;
}

.content {
    width: 75%;
    margin: auto;
    padding-top: 8rem;    
}

.mirror {
    transform: scale(1, -1);
}

.header {
    font-weight: 900;
    font-size: 10rem;
    text-align: center;
}

.topic {
    font-weight: 900;
    font-size: 4rem;
    padding: 1rem;
}

.subTopic {
    font-weight: 900;
    padding: 6rem;
    font-size: 8rem;
    text-align: center;    
}

.topicList {
    margin: 1rem;
    border: solid 1px;
}

.navigation {
    padding-bottom: 1rem;
    width: 50%;
    margin: auto;
}

.navigationKey {
    padding-left: 1rem;
}

.navigationView {
    padding-left: 1rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 75%;
    color: black;
}
